@font-face {
  font-family: "Pretendard";
  src: url("../public/fonts/PretendardVariable.woff2")
    format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: "Pretendard", sans-serif;
}
